.charge-stats-screen {
  .empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    padding: 2rem;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin: 0 0 1rem 0;
      color: var(--ion-color-medium);
    }
  }
}
