.session-list {
  .session-list-header {
    margin-bottom: 4px;
  }

  .empty-list-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    padding: 16px;

    h3 {
      margin: 0 0 8px 0;
    }

    p {
      margin: 0;
      color: var(--ion-color-medium);
    }
  }
}
