.charge-average {
  display: flex;
  margin-top: 10px;

  .symbol {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .percent {
    margin-right: 10px;
  }
}
